body {
    height: 100dvh;
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 100px;
    max-width: 100px;
}

.buttons {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
}

button {
    height: 200px;
    width: 200px;
    background-color: #2d3947;
}

.results {
    height: 100px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
}

#result {
    margin: 0;
}

#score {
    margin: 40px 0px 0px 0px;
}

#intro-text {
    color: white;
    margin-bottom: 100px;
}